.wrapper {
	width:620px;
	margin: 10px auto;
	background: #FFFDCA;
}
h2{
	font-family: tahoma;
	font-size: 30px;
	font-weight: bold;
	color: #F2F766;
	padding: 10px;
	background: #326696;
	text-align: center;
}
form{
	padding: 10px;
}
p{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
textarea {
	width: 100%;
}
.buttonHolder{ 
	text-align: center; 
}